@import "~@angular/material/theming";
@import "../../../theme/theme-variables";

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 80%;
}
.mat-icon {
  vertical-align: middle;
}
h1,
.mat-expansion-panel-header-title {
  color: mat-color($app-primary);
}
.related_links {
  padding-top: 2em;
  color: mat-color($app-accent);
}
