<div class="container">
  <h1 translate>FAQ</h1>
  <div fxLayout="column" fxLayoutGap="1em grid">
    <mat-accordion>
      <div *ngFor="let faq of faqs">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><strong translate>Q</strong>: {{ faq.question }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong translate>A</strong>: {{ faq.answer }}</p>
          <span class="related_links" *ngIf="faq?.links" translate>Related links</span>
          <mat-list fxLayout="row wrap" fxLayoutGap="1em grid" *ngIf="faq?.links">
            <mat-list-item fxFlex="" *ngFor="let link of faq?.links">
              <a [href]="link.link" *ngIf="link?.link">
                <mat-icon color="primary">link</mat-icon>&nbsp;{{ link.title }}</a
              >
              <a [routerLink]="link.routerLink" *ngIf="link?.routerLink">
                <mat-icon color="primary">link</mat-icon>&nbsp;{{ link.title }}</a
              >
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
